.contenedor04 {
    width: 95%;
    height: 42vh;
    background-color: blue;
    margin-top: 5px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 15px;  
   font-size: 14px;
}
.contenedorcito02 {
    width: 100%;
    height: 33vh;
    background-color: white;
    margin-top: 0px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 15px; 
    border: 1px solid blue;
}

.alfabetizacion_es{
    color: white;
    text-align: center;
    line-height: 60px;
}
.espacio_es{
    text-align: center;
    line-height: 40px;
    color: black;
}

.Card01{
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -20px;
    border: 1px solid rgb(21, 255, 0);
    border-radius: 5px;
}
.Card02{
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    border: 1px solid rgb(255, 17, 0);
    border-radius: 5px;
}
.contenedor005 {
    width: 100%;
    height: 42vh;
    background-color: blue;
    margin-top: 5px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 15px;  
    font-size: 14px;
}
.contenedorcito003 {
    width: 100%;
    height: 33vh;
    background-color: white;
    margin-top: 0px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 15px; 
    border: 1px solid blue;
}

.Constitucionales_c{
    margin-top: 80px;
    color: white;
    text-align: center;
    line-height: 60px;
   
}
.espacio_c{
    text-align: center;
    line-height: 40px;
    color: black;
}

.Card001{
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -20px;
    border: 1px solid rgb(21, 255, 0);
    border-radius: 5px;
}
.Card002{
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border: 1px solid rgb(255, 17, 0);
    border-radius: 5px;
}
.btn_r_p_es{
    display:block !important;
    margin:auto !important;
    width: 100px !important;
    margin-top: 0px !important;
}
.suma{
    width: 30px !important;
    height: 30px !important;
    border: 0px !important;
}
.sumar{
    width: 25px;
    height: 25px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
   
}