#contenedor6 {
    width: 95%;
    height: 97vh;
    background-color: blue;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 15px;  
    font-family: 'Times New Roman', Times, serif;
}
#contenedorcito4 {
    width: 100%;
    height: 85vh;
    background-color: white;
    margin-top: 0px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 15px; 
    border: 1px solid blue;
}
@media (min-width: 750px){
    #contenedor6 {
        width: 96%;
        height: 97vh;
        background-color: blue;
        margin-top: 10px;
        margin-right: auto;
        margin-left: auto;
        border-radius: 15px;  
        font-family: 'Times New Roman', Times, serif;
    }
    #contenedorcito4 {
        width: 100%;
        height: 85vh;
        background-color: white;
        margin-top: 0px;
        margin-right: auto;
        margin-left: auto;
        border-radius: 15px;
        border: 1px solid blue;  
    }
}
@media (min-width: 1000px){
    #contenedor6 {
        width: 97%;
        height: 97vh;
        background-color: blue;
        margin-top: 10px;
        margin-right: auto;
        margin-left: auto;
        border-radius: 15px;  
        font-family: 'Times New Roman', Times, serif;
    }
    #contenedorcito4 {
        width: 100%;
        height: 85vh;
        background-color: white;
        margin-top: 0px;
        margin-right: auto;
        margin-left: auto;
        border-radius: 15px;
        border: 1px solid blue;  
    }
}
@media (min-width: 1126px){
    #contenedor6 {
        width: 98%;
        height: 97vh;
        background-color: blue;
        margin-top: 7px;
        margin-right: auto;
        margin-left: auto;
        border-radius: 15px;  
        font-family: 'Times New Roman', Times, serif;
    }
    #contenedorcito4 {
        width: 100%;
        height: 85vh;
        background-color: white;
        margin-top: 0px;
        margin-right: auto;
        margin-left: auto;
        border-radius: 15px;
        border: 1px solid blue;  
    }
}
#Lugares{
    color: white;
    text-align: center;
    line-height: 120px;
    font-size: 30px;
}
#lugar{
    display:block;
    margin:auto;
    color: black;
    border-radius: 80px;
    width: 100px;
    margin-top: 5px;
    margin-bottom: 5px;
}
#cont_btn{
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
}
#btnregre4{
    display:block;
    margin:auto;
    width: 100px;
    margin-top: 40px;
}
#lugar_n{
    width: 50px;
    height: 50px;
    border-radius: 60px;
}