.contenedor23 {
    width: 97%;
    height: 97vh;
    background-color: blue;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 15px;  
   
}   
.contenedorcito23 {
    width: 100%;
    height: 83vh;
    background-color: white;
    margin-top: 0px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 15px; 
    border: 1px solid blue;
}


.Form_nuevo{
    width: 300px;
    height: 370px;
    margin-left: auto;
    margin-right: auto;
}

#btnregreus{
    display:block;
    margin:auto;
    width: 100px;
    margin-top: 40px;
}
#btncc{
    display:block;
    margin:auto;  
}
.uspe_n{
    height: 110px;
    width: 110px;
    border-radius: 120px;
    display:block;
    margin:auto;
}
.texto_r{
    margin-top: 3%;
    text-align: center;
}