.contenedor3 {
    width: 96% ;
    height: 96vh;
    background-color: blue;
    margin-top: 5px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 15px;  
 
}
.contenedorcito {
    width: 100%;
    height: 76vh;
    background-color: white;
    margin-top: 0px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 15px;
    border: 1px solid blue;  
}
.usper{
    width: 150px;
    height: 150px;
    border-radius: 75px;
    display:block;
    margin:auto;
}
.Card{
    background-color: rgb(198, 253, 248);
    width: 270px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}
.texto_i_p{
    text-align: center;
    margin-top: 30px;
}
.btn_r_p{
    display:block !important;
    margin:auto !important;
    margin-top: 60px !important;
    width: 100px !important;
}